/* Generics */
:root {
	--TempestusGreen: rgb(17, 192, 17);
}

.charsheet,
input,
option,
select,
textarea {
	background-color: black;
	color: var(--TempestusGreen);
	border: 1px solid var(--TempestusGreen);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
select,
textarea {
	color: var(--TempestusGreen);
	text-align: center;
	font-family: 'Courier New';
	font-weight: bold;
}

p {
	margin: 10px;
	font-size: 18px;
}

/* This applies to all select boxes */
.advanceselect {
	width: 100%;
	margin-right: 10px;
}

/* Tabs */
.charsheet .sheet-entrypoint,
.charsheet .sheet-personal
{
    display: none;
}
.charsheet .sheet-tabstoggle[value="entrypoint"] ~ div.sheet-entrypoint,
.charsheet .sheet-tabstoggle[value="personal"] ~ div.sheet-personal {
    display: block;
}

/* Entrypoint grid */
.charsheet .sheet-entrypoint-grid{
	display: grid;
	grid-template-columns: 550px 250px;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "project-title project-title"
		"soldier-particulars soldier-particulars"
		"shot-rolls shot-rolls"
		"head-and-body skills"
		"clothing skills"
		"gear extra-gear"
		"footer footer";
	grid-gap: 5px;
}


.charsheet div.sheet-project-title {
	grid-area: project-title;
}

.charsheet div.sheet-soldier-particulars {
	grid-area: soldier-particulars;
}

.charsheet div.sheet-shot-rolls {
	grid-area: shot-rolls;
}

.charsheet div.sheet-head-and-body {
	grid-area: head-and-body;
}

.charsheet div.sheet-clothing {
	grid-area: clothing;
}

.charsheet div.sheet-gear {
	grid-area: gear;
}

.charsheet div.sheet-extra-gear {
	grid-area: extra-gear;
}

.charsheet div.sheet-skills {
	grid-area: skills;
}

.charsheet div.sheet-footer {
	grid-area: footer;
}

.charsheet div.sheet-block {
	display: inline;
	justify-content: center;
	padding: 5px;
	border: 1px dashed var(--TempestusGreen);
}


div.sheet-row {
	display: flex;
	border: 0px solid var(--TempestusGreen);
	width: 100%;
}

div.sheet-item {
	display: flex;
	border: 0px solid var(--TempestusGreen);
	width: 100%;
	justify-content: space-around;
}

div.sheet-item-left {
	width: 40%;
}

div.sheet-item-right {
	width: 60%;
}

div.sheet-skill-left {
	width: 10%;
}

div.sheet-skill-mid {
	width: 70%;
}

div.sheet-skill-right {
	width: 20%;
}

div.sheet-skill-left,
div.sheet-skill-mid,
div.sheet-skill-right {
	height: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}



/* Personal grid */
.sheet-personal-grid{
	display: grid;
	grid-template-columns: 550px 250px;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "project-title project-title"
		"head-and-body head-and-body"
		"clothing clothing"
		"gear gear"
		"footer footer";
	grid-gap: 5px;
}

div.sheet-head-and-body {
	grid-area: head-and-body;
}

div.sheet-clothing {
	grid-area: clothing;
}

div.sheet-gear {
	grid-area: gear;
}
