/* Generics */
:root {
	--TempestusGreen: rgb(17, 192, 17);
}

.charsheet,
input,
option,
select,
textarea {
	background-color: black;
	color: var(--TempestusGreen);
	border: 1px solid var(--TempestusGreen);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
select,
textarea {
	color: var(--TempestusGreen);
	text-align: center;
	font-family: 'Courier New';
	font-weight: bold;
}

p {
	/* margin: 10px; */
	font-size: 18px;
}

/* This applies to all select boxes */
.advanceselect {
	width: 100%;
	/* margin-right: 10px; */
}

/* Tabs */
.sheet-entrypoint,
.sheet-personal
{
    display: none;
}
.sheet-tabstoggle[value="entrypoint"] ~ div.sheet-entrypoint,
.sheet-tabstoggle[value="personal"] ~ div.sheet-personal {
    display: block;
}

.sheet-navigation-tabs{
	height:50px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.tab-button{
	background-color: black;
	border: 1px dashed var(--TempestusGreen);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 2px;
}

.tab-button:hover {background-color: #3e8e41}

.tab-button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.tab-button:target {
	color: red;
}


/* Entrypoint grid */
.sheet-entrypoint-grid{
	display: grid;
	grid-template-columns: 60% 40%;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "soldier-particulars soldier-particulars"
		"shot-rolls shot-rolls"
		"extra-information skills";
	grid-gap: 5px;
}

div.sheet-project-title,
div.sheet-navigation-tabs,
div.sheet-soldier-particulars,
div.sheet-shot-rolls,
div.sheet-extra-information,
div.sheet-skills {
	border-bottom: 2px dashed var(--TempestusGreen);
	padding: 10px;
}
div.sheet-footer{
	padding: 10px;
}
div.sheet-soldier-particulars {
	grid-area: soldier-particulars;
}

div.sheet-shot-rolls {
	grid-area: shot-rolls;
}

div.sheet-extra-information {
	grid-area: extra-information;
}

div.sheet-skills  {
	grid-area: skills;
}


div.sheet-row {
	display: flex;
	width: 100%;
}

div.sheet-item {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

div.sheet-item-left {
	width: 40%;
}

div.sheet-item-right {
	width: 60%;
}

div.sheet-skill-left {
	width: 10%;
}

div.sheet-skill-mid {
	width: 70%;
}

div.sheet-skill-right {
	width: 20%;
}

div.sheet-skill-left,
div.sheet-skill-mid,
div.sheet-skill-right {
	height: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}


/* Personal grid */
.sheet-personal-grid{
	display: grid;
	grid-template-columns: 60% 40%;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "head-and-body head-and-body"
		"clothing clothing"
		"gear gear";
	grid-gap: 5px;
}

div.sheet-head-and-body {
	grid-area: head-and-body;
}

div.sheet-clothing {
	grid-area: clothing;
}

div.sheet-gear {
	grid-area: gear;
}
