/* Generics */
:root {
	--TempestusGreen: rgb(17, 192, 17);
}

.charsheet,
input,
option,
select,
textarea {
	background-color: black;
	color: var(--TempestusGreen);
	border: 1px solid var(--TempestusGreen);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
select,
textarea {
	color: var(--TempestusGreen);
	text-align: center;
	font-family: 'Courier New';
	font-weight: bold;
}

p {
	font-size: 18px;
}

/* This applies to all select boxes */
.advanceselect {
	width: 100%;
}

/* Tabs */
.sheet-entrypoint,
.sheet-personal
{
    display: none;
}
.sheet-tabstoggle[value="entrypoint"] ~ div.sheet-entrypoint,
.sheet-tabstoggle[value="personal"] ~ div.sheet-personal {
    display: block;
}

.sheet-navigation-tabs{
	height:50px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.tab-button {
	appearance: none;
	background-color: black;
	border: 1px solid var(--TempestusGreen);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	box-sizing: border-box;
	color: var(--TempestusGreen);
	cursor: pointer;
	display: inline-block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
  }

  .tab-button:hover {
	background-color: #2c974b;
  }


  .rank-button {
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	border: dashed var(--TempestusGreen);
	border-width: 0 8px 8px 0;
	display: inline-block;
	padding: 8px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	width:50px;
	height:50px;
	background-color: black;;
  }

  .rank-button:hover {
	scale: 1.1;
  }

/* Entrypoint grid */
.sheet-entrypoint-grid{
	display: grid;
	grid-template-columns: max-content;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "soldier-particulars soldier-particulars"
		"shot-rolls shot-rolls"
		"extra-information skills"
		"extra-gear extra-gear";
	grid-gap: 5px;
}

div.sheet-project-title,
div.sheet-navigation-tabs,
div.sheet-soldier-particulars,
div.sheet-shot-rolls,
div.sheet-extra-information,
div.sheet-skills,
div.sheet-extra-gear,
div.sheet-head-and-body,
div.sheet-clothing,
div.sheet-armor-points,
div.sheet-gear
 {
	border: 1px dashed var(--TempestusGreen);
	padding: 10px;
}
div.sheet-footer{
	padding: 10px;
}
div.sheet-soldier-particulars {
	grid-area: soldier-particulars;
}

div.sheet-shot-rolls {
	grid-area: shot-rolls;
}

div.sheet-extra-information {
	grid-area: extra-information;
}

div.sheet-skills  {
	grid-area: skills;
}

div.sheet-extra-gear  {
	grid-area: extra-gear;
}

div.sheet-row {
	display: flex;
	width: 100%;
	margin-bottom: 6px;
	margin-top: 6px;
}

div.sheet-item {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

div.sheet-item-left {
	width: 40%;
}

div.sheet-item-right {
	width: 60%;
}

/* Skills */
div.sheet-skill-item {
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding: 8px;
}

div.sheet-skill-textname {
	width: 50%;
}

div.sheet-skill-value{
	width: 15%;
	flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

div.sheet-skill-roll {
	width: 20%;
}

div.sheet-skill-left,
div.sheet-skill-mid,
div.sheet-skill-right {
	height: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}



div.sheet-skill-left {
	width: 50%;
}

div.sheet-skill-mid {
	width: 15%;
}

div.sheet-skill-right {
	width: 20%;
}

div.sheet-skill-left,
div.sheet-skill-mid,
div.sheet-skill-right {
	height: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}


/* Personal grid */
.sheet-personal-grid{
	display: grid;
	grid-template-columns: auto;
	grid-auto-rows: minmax(100px, auto);
	grid-template-areas: "head-and-body head-and-body"
		"clothing armor-points"
		"gear gear";
	grid-gap:5px;
}

div.sheet-head-and-body {
	grid-area: head-and-body;
}

div.sheet-clothing {
	grid-area: clothing;
}

div.sheet-armor-points {
	grid-area: armor-points;
}
div.sheet-gear {
	grid-area: gear;
}


input:read-only {
	background: black;
	background-color: black;
	color: var(--TempestusGreen);
	opacity: 1;
	border:1px solid var(--TempestusGreen);
	text-align: center;
}

.ui-dialog .charsheet input[type=number]{
	width: 50px;
}

div.sheet-project-title,
div.sheet-navigation-tabs{
	margin-bottom: 5px;
}


/* Roll template */

.sheet-rolltemplate-test  div.sheet-template-container {
	border: 2px solid rgb(17, 192, 17) !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-test  .sheet-template-header {
	background-color: black;
	color:rgb(17, 192, 17) !important;
	padding: 2px;
	border-bottom: 1px dashed rgb(17, 192, 17);
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-test div {
	padding: 5px;
	color: var(--TempestusGreen) !important;
}
.sheet-rolltemplate-test  div:nth-child(odd) {
	background-color: black;
	color: var(--TempestusGreen) !important;
}
.sheet-rolltemplate-test div:nth-child(even) {
	background-color: black;
	color: var(--TempestusGreen) !important;
}
.sheet-rolltemplate-test .inlinerollresult{
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid black;
	background-color:white !important;
	color: black !important;
}
.sheet-rolltemplate-test .inlinerollresult .basicdiceroll {
	border: 2px solid rgb(17, 192, 17);
	background-color:rgb(17, 192, 17) !important;
	color: black !important;
	font-family: 'Courier New';
	width: 28px;
}

.sheet-rolltemplate-test .inlinerollresult.fullcrit {
	border: 2px solid rgb(17, 192, 17);
	background-color:black !important;
	color:  rgb(17, 192, 17) !important;
	font-family: 'Courier New';
	width: 28px;
}
.sheet-rolltemplate-test  .inlinerollresult.fullfail {
	border: 2px solid #FF4019;
	background-color:black !important;
	color: #FF4019 !important;
	font-family: 'Courier New';
	width: 28px;
}
.sheet-rolltemplate-test .inlinerollresult.importantroll {
	border: 2px solid rgb(17, 192, 17);
	background-color:black !important;
	color:  rgb(17, 192, 17) !important;
	font-family: 'Courier New';
	width: 28px;
}

.sheet-rolltemplate-test .sheet-template-signature{
	display: flex;
	justify-content: center;
}

/* Roll template ricochet */
.sheet-rolltemplate-ricochet  div.sheet-template-container {
	border: 2px solid rgb(17, 192, 17) !important;
	border-radius: 3px 3px 3px 3px;
}
.sheet-rolltemplate-ricochet  .sheet-template-header {
	background-color: black;
	color:rgb(17, 192, 17) !important;
	padding: 2px;
	border-bottom: 1px dashed rgb(17, 192, 17);
	line-height: 1.6em;
	font-size: 1.2em;
}

.sheet-rolltemplate-ricochet div {
	padding: 5px;
	color: var(--TempestusGreen) !important;
}
.sheet-rolltemplate-ricochet  div:nth-child(odd) {
	background-color: black;
	color: var(--TempestusGreen) !important;
}
.sheet-rolltemplate-ricochet div:nth-child(even) {
	background-color: black;
	color: var(--TempestusGreen) !important;
}
.sheet-rolltemplate-ricochet .inlinerollresult{
	display: inline-block;
	min-width: 1.5em;
	text-align: center;
	border: 2px solid black;
	background-color:white !important;
	color: black !important;
}
.sheet-rolltemplate-ricochet .inlinerollresult .basicdiceroll {
	border: 2px solid rgb(17, 192, 17);
	background-color:rgb(17, 192, 17) !important;
	color: black !important;
	font-family: 'Courier New';
	width: 28px;
}

.sheet-rolltemplate-ricochet .inlinerollresult.fullcrit {
	border: 2px solid rgb(17, 192, 17);
	background-color:black !important;
	color:  rgb(17, 192, 17) !important;
	font-family: 'Courier New';
	width: 28px;
}
.sheet-rolltemplate-ricochet  .inlinerollresult.fullfail {
	border: 2px solid #FF4019;
	background-color:black !important;
	color: #FF4019 !important;
	font-family: 'Courier New';
	width: 28px;
}
.sheet-rolltemplate-ricochet .inlinerollresult.importantroll {
	border: 2px solid rgb(17, 192, 17);
	background-color:black !important;
	color:  rgb(17, 192, 17) !important;
	font-family: 'Courier New';
	width: 28px;
}

.sheet-rolltemplate-ricochet .sheet-template-signature{
	display: flex;
	justify-content: center;
}

button[type=action].roll_button::before {
    font-family:'dicefontd20';
    content:'t';
	font-size:50px;
	color:var(--TempestusGreen);
	background-color:black;
}

.ui-dialog .charsheet button[type=action].roll_button{
	width:66%;
	line-height:5em;
	border: 0px;
	padding: 0px;
	background-color:black;
}

.ui-dialog .charsheet button[type=action].roll_button:hover{
	scale:1.2;
}

.ui-dialog .charsheet button[type=roll].roll_button::before {
    font-family:'dicefontd20';
    content:'t';
	font-size:50px;
	color:var(--TempestusGreen);
	background-color:black;
	border:none;
	height:100%;
}

.ui-dialog .charsheet button[type=roll].roll_button{
	font-family:'dicefontd20';
    content:'t';
	width:0%;
	height:0%;
	border: 0px;
	padding: 0px;
	margin:0px;
	background-color:black;
	border:none;
}

#extra-gear-row{
    display: flex;
    justify-content: space-around;
}

.charsheet button.repcontrol_edit, .charsheet button.repcontrol_add {
	font-family: "Courier New";
	color: var(--TempestusGreen);
	background-color: black;
	border: 1px solid var(--TempestusGreen);
	background-image: var(--TempestusGreen);
	text-shadow: none;
	margin: 5px;
  }

.ui-dialog .charsheet .repcontainer .repitem {
	margin: 5px;
	font-family: 'Courier New';
}

/* Armor points */

div.sheet-item-armor-trio-left{
	width:25%;
}

div.sheet-item-armor-trio-mid{
	width:50%;
}

div.sheet-item-armor-trio-right{
	width:25%;
}


div.sheet-item-armor-duo-left{
	width:50%;
}

div.sheet-item-armor-duo-right{
	width:16%;
}

textarea.sheet-item-armor-text{
	width: 48px;
	height: 24px;
	resize: none;
}

div.sheet-item-armor-trio-mid > *,
div.sheet-item-armor-duo-right > *,
div.sheet-item-armor-duo-left > *,
div.sheet-item-armor-trio-left > *,
div.sheet-item-armor-trio-right > *{
	padding: 2px;
	margin: 0px;
	vertical-align: middle;
	text-align: center;
	line-height: 21px;
    height: 21px;
}


#label_pref_uniform,
#label_pref_mask {
	width: 66%;
}

#label_pref_mask,
#chkbox_pref_mask,
#label_pref_uniform,
#chkbox_pref_uniform{
	color:var(--TempestusGreen);
}
