{# templates/character_sheet.j2 #}

<!-- Title -->
<div class="sheet-project-title" style="display: flex">
  <div class="sheet-item" style="width: 25%; display: flex; justify-content: space-around">
    <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/wh40k/inquisition_glow_green.png"
      alt="inquisition_glow_green" style="height: 100px" />
  </div>
  <div class="sheet-item" style="
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    ">
    <h1 id="card_title" data-i18n="project-title-u">PROJECT: Tempestus</h1>
    <h4 data-i18n="assessment-report-u">
      The Imperial Infantryman's Assessment Report
    </h4>
  </div>
  <div class="sheet-item" style="width: 25%; display: flex; justify-content: space-around">
    <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/wh40k/inquisition_glow_green.png"
      alt="inquisition_glow_green" style="height: 100px" />
  </div>
</div>
<!-- Tabs -->
<input type="hidden" class="sheet-tabstoggle" name="attr_sheetTab" value="entrypoint" />
<input type="hidden" name="attr_has_quid_pro_quo" value="false" />
<input type="hidden" name="attr_has_catachan_knife" value="false" />
<div class="sheet-navigation-tabs">
  <button type="action" name="act_entrypoint" data-i18n="entrypoint-name-u" class="tab-button">
    Main tab
  </button>
  <button type="action" name="act_personal" data-i18n="personal-name-u" class="tab-button">
    Personal tab
  </button>
</div>

<!-- /////// -->
<!-- Tab one -->
<!-- /////// -->
<div class="sheet-entrypoint">
  <div class="sheet-entrypoint-grid">
    <!-- Soldier's Particulars  -->
        <div class="sheet-soldier-particulars">
      <div class="sheet-item">
        <h2 data-i18n="soldier-particulars-u">Soldier's Particulars</h2>
      </div>
      <div style="display:flex;">
        <div style="width:60%">
          <div class="sheet-row" style="display: flex">
            <div class="sheet-item">
              <p data-i18n="name-u">Name</p>
            </div>
            <div class="sheet-item">
              <textarea
                name="attr_name"
                style="width: 200px; height: 20px; resize: none; text-align: center"
              ></textarea>
            </div>
          </div>
          <div class="sheet-row" style="display: flex">
            <div class="sheet-item">
              <p data-i18n="surname-u">Surname</p>
            </div>
            <div class="sheet-item">
              <textarea
                name="attr_surname"
                style="width: 200px; height: 20px; resize: none; text-align: center"
              ></textarea>
            </div>
          </div>

          <div class="sheet-row" style="display: flex">
            <div class="sheet-item">
              <p data-i18n="regiment-u">Regiment</p>
            </div>
            <div class="sheet-item">
              <select
                name="attr_regiment"
                class="advanceselect"
                style="width: 210px; height: 30px; text-align: center"
              >
                <option>Armageddon</option>
                <option>Cadia</option>
                <option>Catachan</option>
                <option>Krieg</option>
                <option>Vostroya</option>
              </select>
            </div>
          </div>
          <div class="sheet-row" style="display: flex">
            <div class="sheet-item">
              <p data-i18n="class-u">Class</p>
            </div>
            <div class="sheet-item">
              <select
                name="attr_class"
                class="advanceselect"
                style="width: 210px; height: 30px"
              >
                <option data-i18n="sargeant-u">[SRŻ] Sierżant</option>
                <option data-i18n="stormtrooper-u">[SZT] Szturmowiec</option>
                <option data-i18n="sharpshooter-u">[STR] Strzelec</option>
                <option data-i18n="grenadier-u">[GRE] Grenadier</option>
                <option data-i18n="engineer-u">[INŻ] Inżynier</option>
                <option data-i18n="scout-u">[ZWD] Zwiadowca</option>
                <option data-i18n="chirurgeon-u">[CHR] Chirurgon</option>
              </select>
            </div>
          </div>
        </div>
        <div style="width:40%">
          <div class="sheet-row">
            <div class="sheet-item" style="justify-content: center; margin:5px;">
              <button
              type="action"
              name="act_rank_demotion"
              class="rank-button"
              style="margin:5px; margin-top: 45px; transform: rotate(-225deg); -webkit-transform: rotate(-225deg);"
              ></button>
              <img
                name="attr_current_rank"
                alt="rank_404"
                style="height: 120px;margin:5px;"
              />
              <button
              type="action"
              name="act_rank_promotion"
              class="rank-button"
              style="margin:5px; margin-top: 45px; transform: rotate(-315deg); -webkit-transform: rotate(315deg);"
              ></button>
            </div>
            <div class="sheet-item" style="justify-content: center; margin:5px;">
              <input readonly name="attr_current_rank_name" value="Rekrut"
              style="border:0px; font-family:'Courier New';font-size: large;
              font-weight: 600;"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Shots rolls : 1, custom -->
    <div class="sheet-shot-rolls" style="display:flex;">
      <div style="width:80%">

        <!-- Rifles -->
        <div class="sheet-row" style="
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
          ">
          <div class="sheet-item">
            <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/tokens/rifle_icon.png"
              alt="rifle_icon" style="height: 60px; width: 60px" />
          </div>
          <div class="sheet-item">
              <h3 data-i18n="marksmanship-u">Marksmanship</h3>
          </div>
          <div class="sheet-skill-item">

            <div class="sheet-skill-value" style="min-width:fit-content;">
              <input type="number" name="attr_marksmanship_base" value="0" readonly />
              <p>+</p>
            </div>
            <div class="sheet-skill-value" style="min-width:fit-content;">
              <input type="number" name="attr_marksmanship_modifier" value="0" />
              <p>=</p>
            </div>
            <div class="sheet-skill-value">
              <input type="number" name="attr_marksmanship" value="0" readonly />
            </div>
          </div>
          <div class="sheet-item" style="height:63px;">
            <button  type="action" name="act_button_shot_1" class="roll_button"></button>
          </div>
          <div class="sheet-item">
            <input type="number" name="attr_shots" />
          </div>
          <div class="sheet-item" style="height:63px;">
            <button  type="action" name="act_button_shots" class="roll_button"></button>
          </div>
        </div>

        <!-- Shotguns -->
        <div class="sheet-row" style="
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
          ">
          <div class="sheet-item">
            <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/tokens/shotgun_icon.png"
              alt="shotgun_icon" style="height: 60px; width: 60px" />
          </div>
          <div class="sheet-item">
              <h3 data-i18n="shotgun-u">Shotgun</h3>
          </div>
          <div class="sheet-skill-item">
            <div class="sheet-skill-value" style="min-width:fit-content;">
              <input type="number" name="attr_cqb_base" value="0" readonly />
              <p>+</p>
            </div>
            <div class="sheet-skill-value" style="min-width:fit-content;">
              <input type="number" name="attr_shotgun_modifier" value="0" />
              <p>=</p>
            </div>
            <div class="sheet-skill-value">
              <input type="number" name="attr_shotgun" value="0" readonly />
            </div>
          </div>
          <div class="sheet-item" style="height:63px;">
            <button type="action" name="act_button_hit_1" class="roll_button"></button>
          </div>
          <div class="sheet-item">
            <input type="number" name="attr_hits" />
          </div>
          <div class="sheet-item" style="height:63px;">
            <button type="action" name="act_button_hits" class="roll_button"></button>
          </div>
        </div>

        <!-- CQB Combat -->
        <div class="sheet-row" style="
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
          ">
          <div class="sheet-item">
            <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/tokens/shotgun_icon.png"
              alt="shotgun_icon" style="height: 60px; width: 60px" />
          </div>
          <div class="sheet-item">
              <h3 data-i18n="cqb-u">cqb</h3>
          </div>
          <div class="sheet-skill-item">
            <div class="sheet-skill-value" style="min-width:fit-content;">
              <input type="number" name="attr_cqb_base" value="0" readonly />
              <p>+</p>
            </div>
            <div class="sheet-skill-value" style="min-width:fit-content;">
              <input type="number" name="attr_cqb_modifier" value="0" />
              <p>=</p>
            </div>
            <div class="sheet-skill-value">
              <input type="number" name="attr_cqb" value="0" readonly />
            </div>
          </div>
          <div class="sheet-item" style="height:63px;">
            <button type="action" name="act_button_hit_1" class="roll_button"></button>
          </div>
          <div class="sheet-item">
            <input type="number" name="attr_hits" />
          </div>
          <div class="sheet-item" style="height:63px;">
            <button type="action" name="act_button_hits" class="roll_button"></button>
          </div>
        </div>
      </div>
      <div style="width:20%; border: 1px white;">
        <div class="sheet-row">
          <div class="sheet-skill-item">
            <div class="sheet-skill-textname" style="width: 50%">
              <h3 data-i18n="initiative-u"  style="text-align: right">initiative</h3>
            </div>
            <div class="sheet-skill-value" style="width: 33%; justify-content: flex-start;line-height:2em;">
              <button style="line-height:2em;" type="action" name="act_button_initiative" class="roll_button"></button>
            </div>
          </div>
        </div>
        <div class="sheet-row">
          <div class="sheet-skill-item">
            <div class="sheet-skill-textname" style="width: 50%">
              <h3 data-i18n="hit-location-u"  style="text-align: right">location</h3>
            </div>
            <div class="sheet-skill-value" style="width: 33%; justify-content: flex-start;line-height:2em;">
              <button style="line-height:2em;" type="action" name="act_button_location" class="roll_button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-extra-information">
      <div class="sheet-row">
        <div class="sheet-item">
          <h2 data-i18n="extra-information-u" class="gear-u">
            Extra information
          </h2>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-item">
          <textarea name="attr_extra_information" style="height: 357px; width: 100%; resize: none;	text-align:left;"></textarea>
        </div>
      </div>
      <div class="sheet-row">
        <div>
          <h3 data-i18n="special-skill-u">Special skill</h3>
          <fieldset class="repeating_specialskill">
            {{ SPECIAL_SKILL }}
          </fieldset>
        </div>
      </div>
    </div>

    <!-- Skills -->
    <div class="sheet-skills">
      <div class="sheet-row">
        <div class="sheet-item">
          <h2 data-i18n="skill-points-u"="gear-u">Skill Points</h2>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-skill-item">
          <div class="sheet-skill-textname">
            <h3 data-i18n="strength-u">strength</h3>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_strength_base" value="0" readonly />
            <p>+</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_strength_modifier" value="0" />
            <p>=</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_strength" value="0" readonly />
          </div>
          <div class="sheet-skill-roll" style="line-height:2em;">
            <button style="line-height:2em;" type="action" name="act_button_strength" class="roll_button"></button>
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-skill-item">
          <div class="sheet-skill-textname">
            <h3 data-i18n="constitution-u">constitution</h3>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_constitution_base" value="0" readonly />
            <p>+</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_constitution_modifier" value="0" />
            <p>=</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_constitution" value="0" readonly />
          </div>
          <div class="sheet-skill-roll" style="line-height:2em;">
            <button style="line-height:2em;" type="action" name="act_button_constitution" class="roll_button"></button>
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-skill-item">
          <div class="sheet-skill-textname">
            <h3 data-i18n="agility-u">agility</h3>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_agility_base" value="0" readonly />
            <p>+</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_agility_modifier" value="0" />
            <p>=</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_agility" value="0" readonly />
          </div>
          <div class="sheet-skill-roll" style="line-height:2em;" >
            <button  style="line-height:2em;" type="action" name="act_button_agility" class="roll_button"></button>
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-skill-item">
          <div class="sheet-skill-textname">
            <h3 data-i18n="knowledge-u">knowledge</h3>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_knowledge_base" value="0" readonly />
            <p>+</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_knowledge_modifier" value="0" />
            <p>=</p>
          </div>
          <div class="sheet-skill-value">
            <input type="number" name="attr_knowledge" value="0" readonly />
          </div>
          <div class="sheet-skill-roll" style="line-height:2em;" >
            <button  style="line-height:2em;"  type="action" name="act_button_knowledge" class="roll_button"></button>
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-skill-item">
          <div class="sheet-skill-textname" style="width: 50%">
            <h3 data-i18n="health-points-u" style="text-align: right">
              health-points
            </h3>
          </div>
          <div class="sheet-skill-value" style="width: 33%; justify-content: flex-start">
            <input type="number" name="attr_health-points_base" value="0" readonly />
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-skill-item">
          <div class="sheet-skill-textname" style="width: 50%">
            <h3 data-i18n="cash-u" style="text-align: right">
              Imperialne Trony
            </h3>
          </div>
          <div class="sheet-skill-value" style="width: 33%; justify-content: flex-start">
            <input type="number" name="attr_cash" value="10" />
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-skill-item">
          <div class="sheet-skill-textname" style="width: 50%">
            <h3 data-i18n="seals-u" style="text-align: right">
              Pieczęci Czystości
            </h3>
          </div>
          <div class="sheet-skill-value" style="width: 33%; justify-content: flex-start">
            <input type="number" name="attr_seals" value="0" />
          </div>
        </div>
      </div>

      {%raw %}
      <rolltemplate class="sheet-rolltemplate-test">
        <div class="sheet-template-container">
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center" class="sheet-template-text">{{character_name}}</h4>
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center" class="sheet-template-text">Test: {{test_name}}</h4>
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center; color:var(--TempestusGreen)" class="sheet-template-text">Poziom cechy: {{character_skill}}</h4>
          <hr style="border-top: 1px dashed rgb(17, 192, 17) !important;margin:5px; height:5px;"id="rolltemplate-header-spacer">
          <div style="padding:2px;" class="sheet-results">
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll1}}</h4>
           </div>
           <div class="sheet-template-signature">
           <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/wh40k/winged_skull.png"
            alt="restricted_access" style="height: 20px;" />
          </div>
        </div>
      </rolltemplate>
      <rolltemplate class="sheet-rolltemplate-ricochet">
        <div class="sheet-template-container">
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center" class="sheet-template-text">{{character_name}}</h4>
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center" class="sheet-template-text">Test: {{test_name}}</h4>
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center; color:var(--TempestusGreen)" class="sheet-template-text">Poziom cechy: {{character_skill}}</h4>
          <hr style="border-top: 1px dashed rgb(17, 192, 17) !important;margin:5px; height:5px;"id="rolltemplate-header-spacer">
          <div style="padding:2px;" class="sheet-results">
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll1}} {{computed::roll2}} {{computed::roll3}} {{computed::roll4}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll5}} {{computed::roll6}} {{computed::roll7}} {{computed::roll8}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll9}} {{computed::roll10}} {{computed::roll11}} {{computed::roll12}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll13}} {{computed::roll14}} {{computed::roll15}} {{computed::roll16}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll17}} {{computed::roll18}} {{computed::roll19}} {{computed::roll20}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll21}} {{computed::roll22}} {{computed::roll23}} {{computed::roll24}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll25}} {{computed::roll26}} {{computed::roll27}} {{computed::roll28}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll29}} {{computed::roll30}} {{computed::roll31}} {{computed::roll32}}</h4>
          </div>
          <div style="padding:2px;" class="sheet-results">
            <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center" class="sheet-template-text">Szansa na rykoszet (96-100)</h4>
            <hr style="border-top: 1px dashed rgb(17, 192, 17) !important;margin:5px; height:5px;"id="rolltemplate-header-spacer">
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::roll_ricochet}}</h4>
           </div>
        </div>
      </rolltemplate>
      <rolltemplate class="sheet-rolltemplate-locations">
        <!-- Debugging all keys -->
        <!-- <div>
          <caption>{{name}}</caption>
          {{#allprops()}}
            <div>{{key}}</div>
            <div>{{value}}</div>
          {{/allprops()}}
        </div> -->
        <div class="sheet-template-container">
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center" class="sheet-template-text">Trafienia</h4>
          <hr style="border-top: 1px dashed rgb(17, 192, 17) !important;margin:5px; height:5px;"id="rolltemplate-header-spacer">
          <div style="padding:2px;" class="sheet-results">
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::out_hit_location1}} {{computed::out_hit_location2}} {{computed::out_hit_location3}} {{computed::out_hit_location4}}</h4>
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::out_hit_location5}} {{computed::out_hit_location6}} {{computed::out_hit_location7}} {{computed::out_hit_location8}}</h4>
          </div>
          <h4>Quid pro quo: {{computed::out_has_quid_pro_quo}}</h4>

          <div class="sheet-template-signature">
            <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/wh40k/winged_skull.png"
              alt="restricted_access" style="height: 20px;" />
          </div>
        </div>
      </rolltemplate>
      <rolltemplate class="sheet-rolltemplate-location">
        <div class="sheet-template-container">
          <h4 style="font-family: 'Courier New';color:rgb(17, 192, 17) !important;margin:3px;text-align:center" class="sheet-template-text">Trafienia</h4>
          <hr style="border-top: 1px dashed rgb(17, 192, 17) !important;margin:5px; height:5px;"id="rolltemplate-header-spacer">
          <div style="padding:2px;" class="sheet-results">
            <h4 style="text-align:center; margin:3px;" class="sheet-template-text">{{computed::out_hit_location1}}</h4>
          </div>
          <div class="sheet-template-signature">
            <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/wh40k/winged_skull.png"
              alt="restricted_access" style="height: 20px;" />
          </div>
        </div>
      </rolltemplate>
    </div>
    {% endraw %}
    <!-- Extra gear -->
    <div class="sheet-extra-gear">
      <div class="sheet-row">
        <div class="sheet-item">
          <h2 data-i18n="extra-gear-u">Extra gear</h2>
        </div>
        <div class="sheet-row" id="extra-gear-row">
          <div>
            <h3> Plecak </h3>
            <fieldset class="repeating_gearbackpack">
              <input type="text" name="attr_gearbackpack" value="">
            </fieldset>
          </div>
          <div>
            <h3> Podwieszka </h3>
            <fieldset class="repeating_gearshoulderbag">
              <input type="text" name="attr_gearshoulderbag" value="">
            </fieldset>
          </div>
          <div>
            <h3> Pas </h3>
            <fieldset class="repeating_gearwaist">
              <input type="text" name="attr_gearwaist" value="">
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /////// -->
<!-- Tab two -->
<!-- /////// -->
<div class="sheet-personal">
  <div class="sheet-personal-grid">
    <!-- Head and body -->
    <div class="sheet-head-and-body">
      <div class="sheet-row">
        <div class="sheet-item">
          <h2 data-i18n="head-and-body-u" class="head-and-body-u">
            Head and body
          </h2>
        </div>
      </div>
    <!-- REMOVE THIS TEXT -->
      {{ FACE }}
      {{ TATOO }}
      {{ AUGMENTICS }}
      {{ FACIAL_HAIR }}
      {{ HAIRSTYLE }}
    <!-- END: REMOVE THIS TEXT -->
      <div class="sheet-row">
        <div class="sheet-item">
          <div class="sheet-item-left">
            <p data-i18n="hair-color-u">Hair color</p>
          </div>
          <div class="sheet-item-right">
            <textarea
            name="attr_hair_color"
            style="width: 98%; height: 20px; resize: none; text-align: center"
          ></textarea>
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-item">
          <div class="sheet-item-left">
            <p data-i18n="skin-color-u">Skin color</p>
          </div>
          <div class="sheet-item-right">
            <textarea
            name="attr_skin_color"
            style="width: 98%; height: 20px; resize: none; text-align: center"
          ></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Clothing -->
    <div class="sheet-clothing">
      <div class="sheet-row">
        <div class="sheet-item">
          <h2 data-i18n="clothing-u" class="head-and-body-u">Clothing</h2>
        </div>
      </div>
    <!-- REMOVE THIS TEXT -->
      {{ BOOTS }}
      {{ PANTS }}
      {{ LEG_ARMOR }}
      {{ SHIRT }}
      {{ GLOVES }}
      {{ CHEST }}
      {{ SHOULDERS }}
      {{ HELMET }}
    <!-- END: REMOVE THIS TEXT -->
      <div class="sheet-row">
        <div class="sheet-item">
          <div class="sheet-item-left">
            <p data-i18n="uniform-color-u">Uniform color</p>
          </div>
          <div class="sheet-item-right">
            <textarea
            name="attr_uniform_color"
            style="width: 97%; height: 20px; resize: none; text-align: center"
          ></textarea>
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-item">
          <div class="sheet-item-left">
            <p data-i18n="token-preferences-u">Preferencje</p>
          </div>
          <div class="sheet-item-right" style="display:flex; align-items:baseline">
            <label for="chkbox_pref_mask" id="label_pref_mask"> Odkryj twarz spod maski </label>
            <input type="checkbox" name="attr_preference_mask" value="1" id="chkbox_pref_mask">
          </div>
        </div>
      </div>

      <div class="sheet-row">
        <div class="sheet-item">
          <div class="sheet-item-left">
          </div>
          <div class="sheet-item-right" style="display:flex; align-items:baseline">
            <label for="chkbox_pref_uniform" id="label_pref_uniform"> Schowaj pancerz pod koszulę </label>
            <input type="checkbox" name="attr_preference_uniform" value="1" id="chkbox_pref_uniform" >
          </div>
        </div>
      </div>



    </div>

    <!-- Armor points -->
    <div class="sheet-armor-points">
      <div class="sheet-row">
        <div class="sheet-item">
          <h2 data-i18n="armor-points-u">Armor points</h2>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-duo-left">
              <p data-i18n="armor-head-u">Head</p>
            </div>
            <div class="sheet-item-armor-duo-right">
              <textarea name="attr_armor_head" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-duo-left">
              <p data-i18n="armor-chest-u">Chest</p>
            </div>
            <div class="sheet-item-armor-duo-right">
              <textarea name="attr_armor_chest" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-duo-left">
              <p data-i18n="armor-abdomen-u">Abdomen</p>
            </div>
            <div class="sheet-item-armor-duo-right">
              <textarea name="attr_armor_abdomen" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-duo-left">
              <p data-i18n="armor-crotch-u">Crotch</p>
            </div>
            <div class="sheet-item-armor-duo-right">
              <textarea name="attr_armor_crotch" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <img
            src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/wh40k/aquila.png"
            alt="aquila"
            style="height: 20px"
            />
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-trio-left">
              <p data-i18n="right-u">Prawa</p>
            </div>
            <div class="sheet-item-armor-trio-mid">
            </div>
            <div class="sheet-item-armor-trio-right">
              <p data-i18n="left-u">Lewa</p>
            </div>
          </div>
        </div>


        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-trio-left">
              <textarea name="attr_armor_arm_P" class="sheet-item-armor-text"></textarea>
            </div>
            <div class="sheet-item-armor-trio-mid">
              <p data-i18n="armor-arm-u">Arm</p>
            </div>
            <div class="sheet-item-armor-trio-right">
              <textarea name="attr_armor_arm_L" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-trio-left">
              <textarea name="attr_armor_forearm_P" class="sheet-item-armor-text"></textarea>
            </div>
            <div class="sheet-item-armor-trio-mid">
              <p data-i18n="armor-forearm-u">Forearm</p>
            </div>
            <div class="sheet-item-armor-trio-right">
              <textarea name="attr_armor_forearm_L" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-trio-left">
              <textarea name="attr_armor_hand_P" class="sheet-item-armor-text"></textarea>
            </div>
            <div class="sheet-item-armor-trio-mid">
              <p data-i18n="armor-hand-u">Hand</p>
            </div>
            <div class="sheet-item-armor-trio-right">
              <textarea name="attr_armor_hand_L" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-trio-left">
              <textarea name="attr_armor_thigh_P" class="sheet-item-armor-text"></textarea>
            </div>
            <div class="sheet-item-armor-trio-mid">
              <p data-i18n="armor-thigh-u">Thigh</p>
            </div>
            <div class="sheet-item-armor-trio-right">
              <textarea name="attr_armor_thigh_L" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-trio-left">
              <textarea name="attr_armor_shin_P" class="sheet-item-armor-text"></textarea>
            </div>
            <div class="sheet-item-armor-trio-mid">
              <p data-i18n="armor-shin-u">Shin</p>
            </div>
            <div class="sheet-item-armor-trio-right">
              <textarea name="attr_armor_shin_L" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

        <div class="sheet-row">
          <div class="sheet-item">
            <div class="sheet-item-armor-trio-left">
              <textarea name="attr_armor_foot_P" class="sheet-item-armor-text"></textarea>
            </div>
            <div class="sheet-item-armor-trio-mid">
              <p data-i18n="armor-foot-u">Foot</p>
            </div>
            <div class="sheet-item-armor-trio-right">
              <textarea name="attr_armor_foot_L" class="sheet-item-armor-text"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Gear -->
    <div class="sheet-gear">
      <div class="sheet-row">
        <div class="sheet-item">
          <h2 data-i18n="gear-u" class="gear-u">Gear</h2>
        </div>
      </div>
      <!-- REMOVE THIS TEXT -->
      {{ BACKPACK}}
      {{ CLOAK }}
      {{ SHEATHED_WEAPON}}
      {{ SHOULDERBAG}}
      {{ WAIST }}
      {{ NECKLACE}}
      {{ HEADGEAR }}
      {{ ADDITIONAL_HEADGEAR }}
      {{ MASK }}
      {{ FIREARM }}
      {{ PISTOL }}
      <!-- END: REMOVE THIS TEXT -->

      <div class="sheet-row">
          <div class="sheet-item">
              <div class="sheet-item-left">
                <p data-i18n="pistol-offhand-u">Broń krótka</p>
              </div>
              <div class="sheet-item-right">
                <select name="attr_pistol_offhand" class="advanceselect">
                <option data-i18n="item-none-u">Brak</option>
                <option data-i18n="shield-u">2T - Tarcza Arbites</option>
                </select>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>

<!-- Aquila -->
<div class="sheet-footer">
  <div class="sheet-row">
    <div class="sheet-item">
      <img src="https://raw.githubusercontent.com/Project-Tempestus/assets/main/wh40k/aquila.png" alt="aquila"
        style="height: 100px" />
    </div>
    <div class="sheet-item">
      <h4>"Szkło pęka pod uderzeniem młota, stal z wdzięcznością staje się śmiertelną bronią."</h4>
    </div>
    <div class="sheet-item">
      <h5>- Psalm 519-H, Dziękczynienie Duchowi Maszyny </h5>
    </div>
  </div>

</div>

{% raw %}
<!-- Manage tabs -->
<script type="text/worker">
  const buttonlist = ["entrypoint","personal"];
  buttonlist.forEach(button => {
      on(`clicked:${button}`, function() {
          setAttrs({
              sheetTab: button
          });
      });
  });
</script>

<!-- Update total skill value if modifier changes -->
<script type="text/worker">
  const int = score => parseInt(score, 10) || 0;

  const a_regiment = "regiment";
  const a_class = "class";

  var stat = ["marksmanship","cqb","strength","constitution","agility","knowledge"];
  var stat_mod = stat.map(i => i + "_modifier");
  var stat_base = stat.map(i => i + "_base");

  for (let i = 0; i < stat.length ; i++) {
    on(`change:${stat_mod[i]}`, () => {
      getAttrs([stat_base[i],stat_mod[i]], values => {
          let v_base = int(values[stat_base[i]]);
          console.log(v_base);
          let v_mod = int(values[stat_mod[i]]);
          console.log(v_mod);
          let v = v_base + v_mod
          console.log(v)
          setAttrs({
              [`${stat[i]}`]: v
          });
      });
    });
  }
</script>

<script type="text/worker">

  const _metadata = {
    name: 'Project:Tempestus',
    type: 'Character Sheet',
    version: '0.9.8',
  };

  const _ranks = {
    url_prefix:
      'https://raw.githubusercontent.com/Project-Tempestus/assets/main/ranks/',
    list: [
      {
        name: 'Gwardzista',
        url: 'Ranga1_Gwardzista.png',
      },
      {
        name: 'Starszy Gwardzista',
        url: 'Ranga2_StarszyGwardzista.png',
      },
      {
        name: 'Kapral',
        url: 'Ranga3_Kapral.png',
      },
      {
        name: 'Starszy Kapral',
        url: 'Ranga4_StarszyKapral.png',
      },
      {
        name: 'Plutonowy',
        url: 'Ranga5_Plutonowy.png',
      },
      {
        name: 'Starszy Plutonowy',
        url: 'Ranga6_StarszyPlutonowy.png',
      },
      {
        name: 'Sierżant',
        url: 'Ranga7_Sierzant.png',
      },
      {
        name: 'Starszy Sierżant',
        url: 'Ranga8_StarszySierzant.png',
      },
      {
        name: 'Sierżant Sztabowy',
        url: 'Ranga9_SierzantSztabowy.png',
      },
      {
        name: 'Podchorąży',
        url: 'Ranga10_Podchorazy.png',
      },
      {
        name: 'Chorąży',
        url: 'Ranga11_Chorazy.png',
      },
      {
        name: 'Podporucznik',
        url: 'Ranga12_Podporucznik.png',
      },
      {
        name: 'Porucznik',
        url: 'Ranga13_Porucznik.png',
      },
    ],
  };

  const _base_attrs = {
    marksmanship: {
      attr: 'marksmanship_base',
      value: 15,
    },
    cqb: {
      attr: 'cqb_base',
      value: 40,
    },
    strength: {
      attr: 'strength_base',
      value: 40,
    },
    constitution: {
      attr: 'constitution_base',
      value: 40,
    },
    agility: {
      attr: 'agility_base',
      value: 40,
    },
    knowledge: {
      attr: 'knowledge_base',
      value: 30,
    },
    hp: {
      attr: 'health-points_base',
      value: 100,
    },
  };

  const _regiments = {
    Cadia: {
      marksmanship: 5,
      cqb: 5,
      constitution: 5,
      agility: 5,
    },
    Catachan: {
      cqb: 10,
      strength: 5,
      agility: 5,
      hp: 15,
    },
    Krieg: {
      cqb: 5,
      constitution: 10,
      knowledge: 5,
    },
    Armageddon: {
      agility: 10,
      knowledge: 30,
    },
    Vostroya: {
      constitution: 10,
      strength: 10,
      hp: 30,
    },
  };

  const _classes = {
    chirurgon: {
      label: '[CHR] Chirurgon',
      constitution: 15,
      knowledge: 15,
    },
    engineer: {
      label: '[INŻ] Inżynier',
      strength: 10,
      knowledge: 20,
    },
    grenadier: {
      label: '[GRE] Grenadier',
      strength: 15,
      constitution: 15,
    },
    sargeant: {
      label: '[SRŻ] Sierżant',
      constitution: 10,
      hp: 10,
    },
    scout: {
      label: '[ZWD] Zwiadowca',
      agility: 30,
      knowledge: 10,
    },
    sharpshooter: {
      label: '[STR] Strzelec',
      marksmanship: 5,
    },
    stormtrooper: {
      label: '[SZT] Szturmowiec',
      cqb: 15,
      agility: 15,
    },
  };

  const game_config = {
    metadata: _metadata,
    ranks: _ranks,
    base_attrs: _base_attrs,
    regiments: _regiments,
    classes: _classes
  };

  print_config = function(){
    console.log("/* Global config");
    console.log(game_config);
    console.log("Global config */");
  };

  // We set the default rank for new characters or if the rank is deleted by accident.
  var set_default_rank = function(){
    const _rank_list = game_config.ranks.list;
    const _default_rank = _rank_list[0];
    const url = game_config.ranks.url_prefix + _default_rank.url;
    const attr_rank = {
        "current_rank": url,
        "current_rank_name": _default_rank.name
    };
    getAttrs(["current_rank_name"], values => {
      const id = _rank_list.findIndex((element) => element.name === values["current_rank_name"]);
      if (id === -1) {
        console.log("Set default rank to:");
        console.log(attr_rank);
        setAttrs(
          attr_rank
        );
      }
    });
  };

  var set_default_regiment = function () {
    getAttrs(['regiment'], values => {
      let v_regiment = values['regiment'];
      if (v_regiment === undefined)
        v_regiment = Object.keys(game_config.regiments)[0];
      setAttrs({ regiment: v_regiment });
    });
  };

  var set_default_class = function () {
    getAttrs(['class'], values => {
      let v_class = values['class'];
      if (v_class === undefined) {
        var key = Object.keys(game_config.classes)[0];
        v_class = game_config.classes[key].label;
      }
      setAttrs({ class: v_class });
    });
  };


  var change_rank = function(direction){
    if (direction !== 1 && direction !== -1)
      console.log("Unexpected direction, use +1 or -1");

    const _rank_list = game_config.ranks.list;
    getAttrs(["current_rank_name"], values => {
      const id = _rank_list.findIndex((element) => element.name === values["current_rank_name"]);

      let new_index = id + direction;
      // Overflow
      if (direction === 1 && new_index == _rank_list.length)
          new_index = 0;
      // Underflow
      else if (direction === -1 && new_index === -1)
          new_index = _rank_list.length-1;

      const attr_rank = {
          "current_rank": game_config.ranks.url_prefix + game_config.ranks.list[new_index].url,
          "current_rank_name": game_config.ranks.list[new_index].name
      };
      setAttrs(
        attr_rank
      );
    });
  };

  var update_guardsmen_stats = function(){
    getAttrs(["regiment", "class"], values => {
      let v_regiment = values["regiment"];
      let v_class = values["class"];

      var _class;
      for (var __class in game_config.classes) {
          if (v_class === game_config.classes[__class].label){
            _class = __class;
            break;
          }
      }

      var _base_attr_updates = {};

      for( var ability in game_config.base_attrs) {
        let attr = game_config.base_attrs[ability].attr
        let base_value = game_config.base_attrs[ability].value
        var regiment_bonus;
        var class_bonus;
        if (ability in game_config.regiments[v_regiment])
          regiment_bonus = (game_config.regiments[v_regiment])[ability];
        else
          regiment_bonus = 0;

        if (ability in game_config.classes[_class])
          class_bonus = (game_config.classes[_class])[ability];
        else
          class_bonus = 0;

        let ability_value = base_value + regiment_bonus + class_bonus;

        _base_attr_updates[attr] = ability_value;
      }
      setAttrs(_base_attr_updates);

      // FIXME: Connect to the game_config
      var stat = ["marksmanship","cqb","strength","constitution","agility","knowledge"];
      var stat_mod = stat.map(i => i + "_modifier");
      var stat_base = stat.map(i => i + "_base");
      const int = score => parseInt(score, 10) || 0;
      for (let i = 0; i < stat.length ; i++) {
          getAttrs([stat_base[i],stat_mod[i]], values => {
            let v_base = int(values[stat_base[i]]);
            let v_mod = int(values[stat_mod[i]]);
            let v = v_base + v_mod;
            setAttrs({
                [`${stat[i]}`]: v
            });
        });
      }
    });
  };

  // Quid pro Quo
  on("change:repeating_specialskill:special_skill sheet:opened", function() {
    getSectionIDs("repeating_specialskill", function(idarray) {
      var __attr_list = [];
      for(var i=0; i < idarray.length; i++) {
        console.log(idarray[i]);
        __attr_list.push("repeating_specialskill_" + idarray[i] + "_special_skill");
      }
      console.log(__attr_list);
      getAttrs(__attr_list, function(values) {
        console.log(values);
        exists = Object.values(values).includes("Quid pro quo");
        console.log("skill exists? " + exists);
        setAttrs({
          "has_quid_pro_quo" : exists
        });
      });
    });
  });

  // Quid pro Quo
  on("change:attr_sheathed_weapon", function(eventInfo) {
    var weapon = eventInfo.newValue;
    var has_knife = weapon === "3T - Nóż Catachański";
    setAttrs({
      "has_catachan_knife" : has_knife
    });
  });

  var ability_rolls = function(template_name, test_name, character_skill, roll_formula, num_hits=1, do_ricochet=false) {
    var roll_text = "&{template:"+template_name+"}";
    roll_text += "{{character_name=@{character_name}}}";
    roll_text += "{{test_name=" + test_name + "}}";
    roll_text += "{{character_skill=@{" + character_skill + "}}}";
    roll_text += "{{out_hit_location=[[0]]}}";
    roll_text += "{{roll_hit_location=[[1d100]]}}";

    if(do_ricochet === true)
      roll_text += "{{roll_ricochet=[[1d100cs>96cf<96]]}}";

    if (num_hits === "hits" || num_hits === "shots")
      attr_num_hits = num_hits
    else
      attr_num_hits = "hits"

    getAttrs([attr_num_hits, "has_quid_pro_quo"], function(values) {
      console.log("DOES HE ACTUALL HAVE IT 1 " + values.has_quid_pro_quo);
      if (num_hits === "hits")
        num_hits = values.hits;

      if (num_hits === "shots")
        num_hits = values.shots;

      for (let i = 1; i <= num_hits; i++) {
        roll_text += "{{roll" + i +"="+ roll_formula +"}}";
      }

      var num_success = 0;
      startRoll(roll_text, (results) => {
          console.log(results);
          rollData = {};

          for (let i = 1; i <= num_hits; i++) {
            var r = "roll"+i;
            if(results.results[r].result <= get_success_threshold(results.results[r].expression)){
              num_success += 1;
            }
          }
          if(do_ricochet === true) {
            if (num_success > 0){
              console.log("DOES HE ACTUALL HAVE IT " + values.has_quid_pro_quo);
              if (values.has_quid_pro_quo === true) {
                roll_hit_locations_q(num_success);
              } else {
                roll_hit_locations(num_success);
              }

            };
          };
          finishRoll(
              results.rollId,
              rollData
          );
      });
    });
  };

  // Roll for hit locations diregarding quid_pro_quo
  var roll_hit_locations = function(num_success){
    roll_loc = "&{template:location}";

    for (let i = 1; i <= num_success; i++) {
      roll_loc += "{{out_hit_location" + i + "=[[1d100cs<100cf>100]]}}";
    }

    startRoll(roll_loc, (results) => {
      rollData = {};

      for (let i = 1; i <= num_success; i++) {
        var r = "out_hit_location"+i;
        rollData[r] = map_hit_location(results.results[r].result);
      }

      finishRoll(
          results.rollId,
          rollData
      );
    });
  }

  var roll_hit_locations_q = function(num_success){
    roll_loc = "&{template:locations}";
    roll_loc += "{{out_has_quid_pro_quo=[[0]]}}";

    for (let i = 1; i <= num_success; i++) {
      roll_loc += "{{out_hit_location" + i + "=[[1d100cs<100cf>100]]}}";
    }

    for (let i = 1; i <= num_success; i++) {
      roll_loc += "{{phony_hit_location" + i + "=[[1d100cs<100cf>100]]}}";
    }

    startRoll(roll_loc, (results) => {
      rollData = {};

      for (let i = 1; i <= num_success; i++) {
        var r = "out_hit_location"+i;
        var first_roll = results.results[r].result;

        var phony = "phony_hit_location"+i;
        var second_roll = results.results[phony].result;

        var rs = [map_hit_location(first_roll), map_hit_location(second_roll)];

        rs.sort();
        console.log("Quid pro quo makes a choice between" + rs);
        var choice = 0;
        if (rs[0].includes("[x1]") && rs[1].includes("[x1]")) {
            if (Math.random() > 0.5){
              choice = 1;
            }
        }
        rollData[r] = rs[choice];
      }
      rollData["out_has_quid_pro_quo"] = true;
      finishRoll(
          results.rollId,
          rollData
      );
    });
  }

  var get_success_threshold = function(expr) {
    // "1d100cs<26cf>26" -> 26
    const id_0 = expr.search("cs<");
    const id_1 = expr.search("cf>");
    const success_threshold=expr.substring(id_0+"cs<".length, id_1);
    return success_threshold;
  };

  var map_hit_location = function(value) {
    var location;
    if (value > 0 && value <= 10) {
      location = "[x5] Głowa";
    } else if (value > 10  && value <= 30) {
      location = "[x2] Klatka piersiowa";
    } else if (value > 30  && value <= 35) {
      location = "[x1] Prawe ramię";
    } else if (value > 35  && value <= 40) {
      location = "[x1] Lewe ramię";
    } else if (value > 40  && value <= 55) {
      location = "[x3] Brzuch";
    } else if (value > 55  && value <= 60) {
      location = "[x4] Krocze";
    } else if (value > 60  && value <= 65) {
      location = "[x1] Prawe przedramię";
    } else if (value > 65  && value <= 70) {
      location = "[x1] Lewe przedramię";
    } else if (value > 70  && value <= 72) {
      location = "[x1] Prawa dłoń";
    } else if (value > 72  && value <= 74) {
      location = "[x1] Lewa dłoń";
    } else if (value > 74  && value <= 80) {
      location = "[x1] Prawe udo";
    } else if (value > 80  && value <= 86) {
      location = "[x1] Lewe udo";
    } else if (value > 86  && value <= 91) {
      location = "[x1] Prawy goleń";
    } else if (value > 91  && value <= 96) {
      location = "[x1] Lewy goleń";
    } else if (value > 96  && value <= 98) {
      location = "[x1] Prawa stopa";
    } else if (value > 98  && value <= 100) {
      location = "[x1] Lewa stopa";
    } else {
      location = "Something went wrong";
    }
    return location;
  }

  var single_roll = function(test_name, character_skill, roll_formula) {
    ability_rolls(
      template_name="test",
      test_name=test_name,
      character_skill=character_skill,
      roll_formula=roll_formula,
      num_hits=1,
      do_ricochet=false
    );
  };

  var ricochet_rolls = function(test_name, character_skill, roll_formula, num_hits) {
    ability_rolls(
      template_name="ricochet",
      test_name=test_name,
      character_skill=character_skill,
      roll_formula=roll_formula,
      num_hits=num_hits,
      do_ricochet=true
    );
  };


  on(`sheet:opened`, function() {
    print_config();
    set_default_rank();
    set_default_regiment();
    set_default_class();
  });

  on(`clicked:rank_demotion`, function() {
    change_rank(direction=-1)
  });

  on(`clicked:rank_promotion`, function() {
    change_rank(direction=+1)
  });

  on('clicked:button_strength', function() {
    single_roll(
      test_name="Siła",
      character_skill="strength",
      roll_formula="[[1d100cs<@{strength}cf>@{strength}]]"
    );
  });

  on('clicked:button_constitution', function() {
    single_roll(
      test_name="Wytrzymałość",
      character_skill="constitution",
      roll_formula="[[1d100cs<@{constitution}cf>@{constitution}]]"
    );
  });

  on('clicked:button_agility', function() {
    single_roll(
      test_name="Zwinność",
      character_skill="agility",
      roll_formula="[[1d100cs<@{agility}cf>@{agility}]]"
    );
  });

  on('clicked:button_knowledge', function() {
    single_roll(
      test_name="Wiedza",
      character_skill="knowledge",
      roll_formula="[[1d100cs<@{knowledge}cf>@{knowledge}]]"
    );
  });

  on('clicked:button_initiative', function() {
    single_roll(
      test_name="Inicjatywa",
      character_skill="agility",
      roll_formula="[[2d20cs>0+@{agility}]]"
    );
  });

  var used_bursts = [1];

  used_bursts.forEach(burst => {
    var button_name = "button_shot_" + burst.toString();
    on(`clicked:${button_name}`, function() {
      ricochet_rolls(
        test_name="Strzelectwo",
        character_skill="marksmanship",
        roll_formula="[[1d100cs<@{marksmanship}cf>@{marksmanship}]]",
        num_hits=burst
      );
    });
  });

  used_bursts.forEach(burst => {
    var button_name = "button_hit_" + burst.toString();
    on(`clicked:${button_name}`, function() {
      ricochet_rolls(
        test_name="Zwarcie",
        character_skill="cqb",
        roll_formula="[[1d100cs<@{cqb}cf>@{cqb}]]",
        num_hits=burst
      );
    });
  });

  on('clicked:button_hits', function() {
    ability_rolls(
      template_name="ricochet",
      test_name="Zwarcie",
      character_skill="cqb",
      roll_formula="[[1d100cs<@{cqb}cf>@{cqb}]]",
      num_hits="hits",
      do_ricochet=true
    );
  });

  on('clicked:button_shots', function() {
    ability_rolls(
      template_name="ricochet",
      test_name="Strzelectwo",
      character_skill="marksmanship",
      roll_formula="[[1d100cs<@{marksmanship}cf>@{marksmanship}]]",
      num_hits="shots",
      do_ricochet=true
    );
  });

  on('clicked:button_location', function() {
    roll_hit_locations(1);
  });

  on(`change:regiment change:class sheet:opened`, () => {
    update_guardsmen_stats();
  });
</script>
{% endraw %}
