{# templates/pl.j2 #}

{
  "item-none-u": "Brak",

  "project-title-u": "PROJEKT: Tempestus",
  "assessment-report-u": "Raport Psychofizjologiczny Imperialnego Piechura",

  "entrypoint-name-u":"Repozytorium",
  "personal-name-u":"Kartoteka",
  "armor-points-u":"Opancerzenie",

  "rank-u":"Stopień wojskowy",
  "extra-gear-u":"Wyposażenie dodatkowe",

  "soldier-particulars-u": "Dane osobowe",
  "name-u": "Imię",
  "surname-u": "Nazwisko",
  "regiment-u": "Regiment",
  "class-u": "Klasa",

   "sargeant-u":"[SRŻ] Sierżant",
   "stormtrooper-u":"[SZT] Szturmowiec",
   "sharpshooter-u":"[STR] Strzelec",
   "grenadier-u":"[GRE] Grenadier",
   "engineer-u":"[INŻ] Inżynier",
   "scout-u":"[ZWD] Zwiadowca",
   "chirurgeon-u":"[CHR] Chirurgon",

   "combat-u":"Walka",
   "weapon-u":"Broń",
   "custom-u":"Własne",
   "xcustom-u":"x{Własne}",

   "head-and-body-u": "Ciało i twarz",
   {{ FACE }}
   {{ TATOO }}
   {{ AUGMENTICS }}
   {{ FACIAL_HAIR }}
   {{ HAIRSTYLE }}

   "clothing-u": "Umundurowanie",
   {{ BOOTS }}
   {{ PANTS }}
   {{ LEG_ARMOR }}
   {{ SHIRT }}
   {{ GLOVES }}
   {{ CHEST }}
   {{ SHOULDERS }}
   {{ HELMET }}

   "gear-u": "Rynsztunek",
   {{ BACKPACK}}
   {{ CLOAK }}
   {{ SHEATHED_WEAPON}}
   {{ SHOULDERBAG}}
   {{ WAIST }}
   {{ NECKLACE}}
   {{ HEADGEAR }}
   {{ ADDITIONAL_HEADGEAR }}
   {{ MASK }}
   {{ FIREARM }}
   {{ PISTOL }}

   "extra-information-u":"Dodatkowe informacje",

   "skill-points-u":"Statystyki",
   "marksmanship-u":"Strzelectwo",
   "cqb-u":"Zwarcie",
   "strength-u":"Siła",
   "constitution-u":"Wytrzymałość",
   "agility-u":"Zwinność",
   "knowledge-u":"Wiedza",
   "initiative-u": "Inicjatywa",
   "health-points-u":"Punkty Żywotności",
   "cash-u":"Imperialne Trony",
   
   "uniform-color-u": "Barwa munduru",
   "skin-color-u": "Karnacja skóry",
   "hair-color-u": "Kolor włosów"

}