{# templates/html.j2 #}

<div class="sheet-row">
    <div class="sheet-item">
        <div class="sheet-item-left">
          <p data-i18n="{{ ITEM_NAME }}-u">{{ ITEM_NAME_TEXT}}</p>
        </div>
        <div class="sheet-item-right">
          <select name="attr_{{ ITEM_NAME }}" class="advanceselect">
          {% if INCLUDE_NONE == 1 %}<option data-i18n="item-none-u">Brak</option>
          {% endif %}            
          {% for ID in range(ITEM_OPTIONS_LEN) -%}
          <option data-i18n="{{ ITEM_NAME }}-{{ID}}-u">{{ITEM_OPTIONS[ID]}}</option>
          {% endfor %}
          </select>
        </div>
    </div>
</div>
