<!DOCTYPE html>
<html>

<style>
table, th, td {
  border: 1px solid black;
}
</style>

<head>
    <script src="js/items.js"></script>
</head>

<div style="display:flex;margin: 20px;">
  <div style="margin: 10px;">
    <p> Wybierz regimenty </p>
    <input type="checkbox" id="regiment_0" value="">
    <label for="regiment_0"> Armageddon </label><br>
    <input type="checkbox" id="regiment_1" value="">
    <label for="regiment_1"> Cadia </label><br>
    <input type="checkbox" id="regiment_2" value="">
    <label for="regiment_2"> Krieg </label><br>
    <input type="checkbox" id="regiment_3" value="">
    <label for="regiment_3"> Vostroya </label><br>
  </div> 

  <div style="margin: 10px;">
    <p> Wybierz klasy </p>
    <input type="checkbox" id="class_0" value="">
    <label for="class_0"> Chirurgon </label><br>
    <input type="checkbox" id="class_0" value="">
    <label for="class_0"> Inżynier </label><br>
    <input type="checkbox" id="class_0" value="">
    <label for="class_0"> Grenadier </label><br>
    <input type="checkbox" id="class_0" value="">
    <label for="class_0"> Sierżant </label><br>
    <input type="checkbox" id="class_0" value="">
    <label for="class_0"> Zwiadowca </label><br>
    <input type="checkbox" id="class_0" value="">
    <label for="class_0"> Strzelec </label><br>
    <input type="checkbox" id="class_0" value="">
    <label for="class_0"> Szturmowiec </label><br>
  </div>

  <div style="margin: 10px;">
    <p>Dodatkowe opcje</p>
    <input type="checkbox" id="config_0" value="">
    <label for="config_0"> Pokazuj przedmioty dostępne dla wszystkich </label><br>
    <input type="checkbox" id="config_1" value="">
    <label for="config_1"> Pokazuj "Ciało" (Twarz, Tatuże, etc.) </label><br>
  </div>
</div>

<body>
    {{ FACE }}
    {{ TATOO }}
    {{ AUGMENTICS }}
    {{ FACIAL_HAIR }}
    {{ HAIRSTYLE }}
    {{ BOOTS }}
    {{ PANTS }}
    {{ LEG_ARMOR }}
    {{ SHIRT }}
    {{ GLOVES }}
    {{ CHEST }}
    {{ SHOULDERS }}
    {{ HELMET }}
    {{ BACKPACK }}
    {{ CLOAK }}
    {{ SHEATHED_WEAPON }}
    {{ SHOULDERBAG }}
    {{ WAIST }}
    {{ NECKLACE }}
    {{ HEADGEAR }}
    {{ ADDITIONAL_HEADGEAR }}
    {{ MASK }}
    {{ FIREARM }}
    {{ PISTOL }}
</body>

</html>

